<link rel="stylesheet" href"app/assets/stylesheets/rooms.scss">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda&family=Yusei+Magic&display=swap" rel="stylesheet">

<div class="user">
<% @entries.each do |e| %>
    <p><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%></a></strong></p>
<% end %>
<p>2人のDM</p>
</div>

<div class="dm">
  <div class="message">
    <% @messages.each do |m| %>
        <strong><%= m.body %></strong>
        <small><%= m.user.email %></small><hr>
    <% end %>
  </div>

    <%= form_for @message do |f| %>
  <div class="text-field">    
    <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , :size => 50 %>
  </div>  
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "送信" , class: "dm-botan"  %>
    <% end %>
</div>


  <%= link_to "トップに戻る", posts_path , class: "back" %>


