<link rel="stylesheet" href"app/assets/stylesheets/perfumes_new.scss">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda&family=Yusei+Magic&display=swap" rel="stylesheet">

<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p>Question1. 誰と行く？</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>恋人と</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>友達と</p>
            </div>
            <div class="col-6">
            <p><%= f.check_box :question, {multiple: true}, "3", nil %>1人で</p>
            </div>
        
        <div class="col-12">
           <p>Question2. 重要視するもの…</p>
        </div>
        
        <div class="col-6">
            <p><%= f.check_box :question, {multiple: true}, "1", nil %>雰囲気</p>
        </div>
        <div class="col-6">
            <p><%= f.check_box :question, {multiple: true}, "2", nil %>フード・ドリンク</p>
        </div>
       

        <div class="col-12">
        
        <p>Question3. 駅からのアクセス</p>
        </div>
        <div class="col-6">
            <p><%= f.check_box :question, {multiple: true}, "1", nil %>駅近</p>
        </div>
        <div class="col-6">
            <p><%= f.check_box :question, {multiple: true}, "2", nil %>隠れ家</p>
        </div>

        <div class="col-12">

        </div>
        </div>
        
        <%= f.submit "post" , class: "sindanbotan" %>
        
        
<% end %>
